.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
    overflow-y: auto;
  }
  
  .welcomeText {
    font-size: 3rem;
    color: #6200FF; 
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
    margin: 20px 0;
    text-align: center;
    opacity: 1;
    transition: opacity 2s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
  }
  

  .projectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    width: 100%;
    max-width: 1200px; 
    margin: 20px auto; 
  }
  

  .projectCard {
    background-color: #2C2C54;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .projectCard:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .projectTitle {
    font-size: 1.5rem;
    color: #6200FF;
    margin-bottom: 10px;
    text-shadow: 2px 2px 1px black;
  }
  
  
  .projectDescription {
    font-size: 1rem;
    color: #D8BFD8; 
    margin-bottom: 20px;
  }
  
  .projectLink {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #6200FF;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .projectLink:hover {
    background-color: #8A00FF;
  }
  