/* Main container for the page */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
    overflow-y: auto; /* Allow scrolling */
  }
  
  /* Welcome message styling */
  .welcomeText {
    font-size: 3rem;
    color: #6200FF; /* Neon purple */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.6);
    margin: 20px 0;
    text-align: center;
    opacity: 1;
    transition: opacity 2s ease-in-out;
  }
  
  .fade-out {
    opacity: 0; /* Fully fade out */
  }
  
  /* Projects grid container */
  .projectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between grid items */
    width: 100%; /* Full width */
    max-width: 1200px; /* Limit container width */
    margin: 20px auto; /* Center grid */
  }
  
  /* Individual project card */
  .projectCard {
    background-color: #2C2C54; /* Deep space color */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out content inside the card */
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .projectCard:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Title inside project card */
  .projectTitle {
    font-size: 1.5rem;
    color: #6200FF; /* Neon purple */
    margin-bottom: 10px;
    text-shadow: 2px 2px 1px black;
  }
  
  /* Description inside project card */
  .projectDescription {
    font-size: 1rem;
    color: #D8BFD8; /* Softer purple */
    margin-bottom: 20px;
  }
  
  /* Button inside project card */
  .projectLink {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #6200FF; /* Neon purple */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .projectLink:hover {
    background-color: #8A00FF; /* Darker neon purple */
  }
  